*{
  font-family: 'Poppins', sans-serif;
  letter-spacing: -1px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  /* background-image: url(./home\ page\ bg.jpg); */
}
section{
  padding: 0px 80px;
}
header{
  position: relative;
  top: -20px;
}
img{
  border-radius: 12px;
  margin: 20px;
}
a{
  text-decoration: none;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #28965A;
  font-family: 'Poppins', sans-serif;
  margin:20px 0 0 0;
  
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .2s;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  padding: 0;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Poppins', sans-serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2A6041;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a:active{
  background-color: #abdbe0;
  color:purple;
}

/* Style the search box inside the navigation bar */
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin:10px 0px 10px 12px;
  font-size: 16px;
  border-radius: 12px;
  padding: 5px 10px;
}

/*styling the language choosing bar */
#select{
  float:right;
  margin:15px 20px 10px 0;
}

/*styling the main image */
 .container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: 3%;
}

/*styling the text in the main image*/
.imagetext {
  position:relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  color:#8cb369;
}

/*styling the heading*/
h2{
  color:#2A6041;
  text-decoration: none;
  font-size:3rem;
}

h3{
  font-size: 30px;
  color: #2A6041;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  margin-left: 10%;
}

/*styling an universal id*/
.main_heading{
  font-size: 3rem;
  font-style: italic;
  margin-bottom: 0;
  letter-spacing: -2px;
}
#para{
  font-size: 18px;
  color:#204932;
  font-family: 'Poppins', sans-serif;
  max-width: 700px;
  text-align: justify;
}
#para:nth-child(1){
  max-width: 100%;
}
.intro #para{
    margin:2% 2% 0 3%
}
.wildlife{
  margin-top: 50px;
  width: 100%;
  float: left;
}
#wildlife_img{
  width: 40%;
  float: left; 
}
.wildlife_para{
  text-align: justify;
  color: #204932;
  margin-bottom: 50px;
  font-size: 18px;
}
.wildlife #para{
  margin:0 2% 0 3%;
}  
#unorderedli{
  text-align: left;
  margin: 0;
}
.beaches_img{
  width: 45%;
  float: right;

}

.heritage #para{
  margin: 0 3% 0 3%;
}


.beaches h2{
  text-align: right;
  margin-right: 15%;
 
}

ul{
  list-style-type: square;
}

.activities img{
  margin-left:50px
}

.heritage a{
  text-decoration: none;
  font-size: 30px;
  color:purple
  
}
.heritage_img{
  width: 50%;
  float: left;
}
.other_acts{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.hiking_part{
  padding: 30px;
  border: 2px #28965A solid;
  margin: 10px;
  border-radius: 12px;
}
.activities #para2{
  font-size:30px;
  color:black;
  font-family: 'Poppins', sans-serif;
  margin:2% 1%  0 5%
}

hr{
  color: darkgray;
  margin:2% 0 2% 0;
 
}
.sigiriya_maligawa{
  margin: 20px 0px 0px 30px;
}
.sigiriya_maligawa a{
  font-size: 22px;
  color: #28965A;
}
.footer{
  margin-top: 50px;
  background-color: #2A6041;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px 0px;
  color: white;
}
.footer_heading{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
.footer_part ul li{
  list-style: none;
  margin-bottom: 8px;
}
.footer_part ul li a{
  color: white;
  opacity: 0.8;
  transition: ease .2s;
}
.footer_part ul li a:hover{
  opacity: 1;
}
.footer_part:nth-child(1) ul{
  display: flex;
  justify-content: space-evenly;
}
.footer_part:nth-child(1) ul li a{
  font-size: 28px;
  margin: 0px 10px 0px 10px
}
 
.container .imagetext{
   font-size:4rem
}

 article{
  font-size: 2rem;
}
#heading{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}
.para_hiking{
  font-size: 18px;
  margin: 50px;
}








@media (max-width: 1300px){
  .other_acts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
}
@media (max-width: 720px){
  .other_acts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .hiking_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hiking_part img{
    width: 85%;
    height: auto;
    margin: 20px 0px;
    padding: 0;
  }
  .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_part{
    margin-bottom: 70px;
  }
  .footer_part  ul li{
    text-align: center;
  }
}