body{
  background-color: beige;
} 


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    margin:20px 0 0 0;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:auto;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbar a:active{
    background-color: #abdbe0;
    color:purple;
  }
  
  /* Style the search box inside the navigation bar */
  .navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin:10px 20px 10px 0;
    font-size: 17px;
  }
  
  /*styling the language choosing bar */
  #select{
    float:right;
    margin:15px 20px 10px 0;
  }

#sdm{
  font-size:50px;
  font-family: fantasy;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: peru;
}

.main .image{
   border:5px solid peru;
   margin: 3% 3% 0 0 ;
   display:block;
   float:left
}

.main #para{
  margin:6% 2% 0 7%;
  font-size:30px;
  font-family: cursive;
}

#heading{
  margin:3% 0 0 2%;
  font-size: 40px;
  font-family: fantasy;

}

.hotels{
  margin:4% 0 0 8%;
}

.hotels img{
  transition: transform .2s; /* Animation */
}

.hotels img:hover{
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

hr{
  color: darkgray;
  margin:2% 0  0;
}

.finish{
    background-color: thistle;
}


.finish h4{
  font-size: 30px;
  font-family: monospace;
  color: black;
  margin:2% 0 0 3%
}

.finish img{
  margin-left: 3%;
}

.finish a{
  margin-left: 3%;
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-family: monospace;
}

.finish a:hover{
  color: whitesmoke;
  border-bottom: 3px solid brown;
}